/* My all fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

/* Utilities */
body {
  font-family: "Poppins", sans-serif;
}

/* ---------------------HEADER SECTION------------------------ */
/* MENU BAR */
.logo {
  font-size: 30px;
  font-weight: 600;
}
.logo span {
  color: #fecf2e;
}
.mynav li a {
  font-weight: 500;
}
